@page
@model latest.Pages.Modules.CreateModel
@{
}
<br>
<h2>New Module</h2>
@if (Model.errorMessage.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
        <strong>@Model.errorMessage</strong>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'> </button>

    </div>
}


<form method="POST">


    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Module_Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="module_name" value="@Model.moduleInfo.Module_Name">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">module_code</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="module_code" value="@Model.moduleInfo.Module_Code">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Number_Of_Credits</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="number_of_credits" value="@Model.moduleInfo.Number_Of_Credits">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Class_Hours_Per_Week</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="class_hours_per_week" value="@Model.moduleInfo.Class_Hours_Per_Week">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Number_Of_Weeks_In_Semester</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="number_of_weeks_in_semester" value="@Model.moduleInfo.Number_Of_Weeks_In_Semester">
        </div>
    </div>


    @if (Model.successMessage. Length > 0) {
    <div class="row mb-3">
I
     <div class="col-sm-9">
     <div class='alert alert-success alert-dismissible fade show' role='alert'>
     <strong>@Model.successMessage</strong>
                    <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'> </button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
        </div>

</form>